{% extends 'adminlte/base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% if title %}
    {% block title %}
        工单详情
    {% endblock %}
{% endif %}
{% block js %}
<script type="application/javascript">

</script>
{% endblock %}
{% block css %}
    <style type="text/css">


</style>
{% endblock %}



<section class="content-header">
    <h1>
        {{app_label}}
        <small>{{title|capfirst}}</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i>首页</a></li>
        <li class="active">返回</li>
    </ol>

    <!-- 显示历史 -->

    <div>

    </div>
</section>